In [16]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("limefeat_alphasort.csv")
d = pd.read_csv("lime-robustness-all-score-outcome.csv")

In [11]:
df[['temp_agg','frequency']].groupby('temp_agg').agg(sum).sort_values(by='frequency',ascending=False)

          frequency
temp_agg
1y            13103
5y            11004
1d             9841
1w             2208
1m              467
all             216

In [12]:
df[['temp_agg','idx']].groupby('temp_agg').agg(sum).sort_values(by='idx')

             idx
temp_agg
all          897
5y        152019
1y        168218
1w        201285
1d        220632
1m        299503

In [18]:
from collections import Counter

In [24]:
tmp = df[df.temp_agg=='1d']
l = []
for i in tmp.index:
    feature = tmp.feature.loc[i]
    frequency = tmp.frequency.loc[i]
    l.append(list(np.repeat(feature,frequency)))
l = [item for sublist in l for item in sublist]
Counter(l).most_common(10)

[('ts_id_1d_trafficstopswitharrest_sum', 1467),
 ('ts_id_1d_trafficstopswitharrest_avg', 1444),
 ('ir_id_1d_complaintstypesource_unknown_avg', 926),
 ('ir_id_1d_complaintstypesource_external_avg', 924),
 ('ir_id_1d_complaintstypesource_internal_avg', 696),
 ('ir_id_1d_complaintstypesource_automatic_avg', 696),
 ('ir_id_1d_complaintstypesource_external_sum', 696),
 ('ir_id_1d_complaintstypesource_unknown_sum', 693),
 ('ir_id_1d_complaintstypesource_internal_sum', 467),
 ('ir_id_1d_complaintstypesource_automatic_sum', 465)]