In [1]:
import pandas as pd
%matplotlib inline
import numpy as np

In [14]:
df = pd.read_csv("indiv_tree_pred.csv")

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0.222222,0.986248,0.961240,0.000000,0.941197,0.947612,0.917943,0.963057,0.963636,0.938841,...,0.953333,0.943343,0.200000,0.919436,1.000000,0.952071,0.952158,0.975225,0.846154,0.825000
1,1.000000,0.910338,1.000000,0.819843,0.764228,0.873271,0.887763,0.889109,0.902937,0.333333,...,0.869001,0.906694,0.916438,1.000000,0.901186,0.560976,1.000000,0.885714,1.000000,0.915796
2,0.971429,0.942332,0.916031,0.959627,0.941197,1.000000,0.960711,0.963057,0.902937,0.951743,...,0.959916,0.966102,0.916438,0.919436,1.000000,0.831858,0.912201,1.000000,0.961338,0.983158
3,0.920000,1.000000,0.882470,0.931677,0.764228,0.873271,0.250000,0.925175,0.901840,0.938841,...,0.906250,0.953321,0.981982,0.919436,0.946541,0.952071,0.877193,0.828306,0.961338,0.912281
4,0.966863,0.986248,0.965693,0.958086,0.941197,0.952986,0.960711,1.000000,0.902937,0.951743,...,0.921642,0.953321,1.000000,0.945177,1.000000,0.952071,0.912201,0.956220,0.985981,0.937778

In [16]:
def complement(x):
    return float(1) - x

In [17]:
df = df.apply(complement,axis=1)

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0.777778,0.013752,0.038760,1.000000,0.058803,0.052388,0.082057,0.036943,0.036364,0.061159,...,0.046667,0.056657,0.800000,0.080564,0.000000,0.047929,0.047842,0.024775,0.153846,0.175000
1,0.000000,0.089662,0.000000,0.180157,0.235772,0.126729,0.112237,0.110891,0.097063,0.666667,...,0.130999,0.093306,0.083562,0.000000,0.098814,0.439024,0.000000,0.114286,0.000000,0.084204
2,0.028571,0.057668,0.083969,0.040373,0.058803,0.000000,0.039289,0.036943,0.097063,0.048257,...,0.040084,0.033898,0.083562,0.080564,0.000000,0.168142,0.087799,0.000000,0.038662,0.016842
3,0.080000,0.000000,0.117530,0.068323,0.235772,0.126729,0.750000,0.074825,0.098160,0.061159,...,0.093750,0.046679,0.018018,0.080564,0.053459,0.047929,0.122807,0.171694,0.038662,0.087719
4,0.033137,0.013752,0.034307,0.041914,0.058803,0.047014,0.039289,0.000000,0.097063,0.048257,...,0.078358,0.046679,0.000000,0.054823,0.000000,0.047929,0.087799,0.043780,0.014019,0.062222

In [6]:
df.to_csv("tree_predictions.csv",index=False)

In [8]:
def getrange(col):
    return max(col)-min(col)

In [19]:
tmp = df.apply(getrange,axis=0)

In [20]:
tmp

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
5       1.0
6       1.0
7       1.0
8       1.0
9       1.0
10      1.0
11      1.0
12      1.0
13      1.0
14      1.0
15      1.0
16      1.0
17      1.0
18      1.0
19      1.0
20      1.0
21      1.0
22      1.0
23      1.0
24      1.0
25      1.0
26      1.0
27      1.0
28      1.0
29      1.0
       ...
9970    1.0
9971    1.0
9972    1.0
9973    1.0
9974    1.0
9975    1.0
9976    1.0
9977    1.0
9978    1.0
9979    1.0
9980    1.0
9981    1.0
9982    1.0
9983    1.0
9984    1.0
9985    1.0
9986    1.0
9987    1.0
9988    1.0
9989    1.0
9990    1.0
9991    1.0
9992    1.0
9993    1.0
9994    1.0
9995    1.0
9996    1.0
9997    1.0
9998    1.0
9999    1.0
dtype: float64

In [21]:
tmp.value_counts()

1.0    10000
dtype: int64

In [47]:
binticks = np.arange(0,1.1,.1)

In [48]:
for column in df.columns:
    if np.random.binomial(1,0.001)==1:
        print column
    tmp = pd.cut(df[column],binticks,labels=False)
    tmp = tmp.fillna(0)
    tmp = tmp.apply(int)
    df[column] = tmp

100
3362
3664
5757
6466

In [49]:
df.to_csv("indiv_tree_pred_binned.csv",index=False)

In [70]:
binned = pd.DataFrame(index=range(10))

In [71]:
for column in df.columns:
    if np.random.binomial(1,0.001)==1:
        print column
    binned[column] = df[[column]].groupby(column).size()

2300
3083
3409
4153
4610
5540
7415
7477
8832

In [74]:
binned.fillna(0,inplace=True)

In [77]:
binned = binned.transpose()

In [78]:
binned.to_csv("indiv_tree_pred_binned_grouped.csv",index=False)